.text-mynavi {
  color: #03ABEB;
}

.text-reds {
  color: #C50030;
}

.text-ardija {
  color: #FF4D00;
}

.text-asElfen {
  color: #003087;
}

.text-jefunited {
  color: #ffe100;
}

.text-beleza {
  color: #036A38;
}

.text-stella {
  color: #182D7B;
}

.text-parceiro {
  color: #DC4404;
}

.text-albirex {
  color: #EA5504;
}

.text-inac {
  color: #B31C31;
}

.text-sanfrecce {
  color: #50318F;
}